body {
    font-family: Roboto;
}

.parent {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

h1 {
    background: #1F030C;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.child {
    text-align: center;
    position: absolute;
    bottom: 350px;
}

#updateCalories {
    text-align: center;
    position: absolute;
    bottom: 50px;
}

