body {
    font-family: Roboto;
}

.parent {
    position: absolute;
    left: 440px;
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

h1 {
    background: #1F030C;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.view {
    list-style-type: none;
    position: absolute;
    top: 50px; 
    left: 100px;
    height: 220px;
    width: 240px;
    margin: 100px auto; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

ul.list {
    list-style-type: none;

}

#resources {
    position: absolute;
    top: 100px;
    right: 50px;
}

#totalResults {
    position: absolute;
    top: 300px;
    text-align: center;
}

#goalsForm {
    position: absolute;
    top: 365px;
    
}

#results {
    position: absolute;
    top: 420px;
}

ul.goal-list {
    list-style-type: none;
}